body {
    background-color: teal;
    text-align: center;
}

h1 {
    color: crimson;
    font-size: 5em;
    font-weight: 500;
}

p {
    color: tomato;
    font-size: 2em;
}

.p2 {
    color: violet;
    font-size: 1.5em;
}