body {
    background-color: teal;
    align-items: center;
    align-content: center;
}

h1 {
    color: red;
    font-size: 56px;
}

p {
    color: tomato;
    font-size: 32px;
}

.p2 {
    color: violet;
    font-size: 24px;
}